:root {
    --white: #ffffff;
    --darkness: #212121;
    --primary: #ffc107;
    --secundary: #0097a7;
    --grey: #757575;
    --softgrey: #DFE9F3;

}

html {
    font-size: 62.5%;
    /*Hace mas faciles de utilizar los rem*/
    box-sizing: border-box;
}

*,
*::before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    /*Hace mas faciles de utilizar los rem*/
    font-family: "Krub", sans-serif;
    /*Es la fuente que utilizara toda la pagina*/
    background-image: linear-gradient(to top, var(--softgrey) 0%, var(--white) 100%);
    /*Hace el degradado que pusimos de fondo*/
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
    /*centra el texto*/
}


.title span {
    font-size: 2rem;

}

.contenedor {
    max-width: 120rem;
    /*Esto significa que la maxima anchua que puede agarrar son 120rem 
    pero que si no los tiene, solo se adapte al 100%*/
    /*margin-top: 0;
    margin-right: auto; Asi se pone cuando no se simplifica
    margin-bottom: 0;
    margin-left: auto;*/
    /*margin: 0 auto 0 auto; Asi se pone simplificado*/
    margin: 0 auto;
    /*Asi es la forma mas simplificada*/

}

.navegador-bg {
    background-color: var(--secundary);
    /*color de fondo*/
}

.navegador-principal {
    display: flex;
    /*Habilita el flex para poder utilizar el justify-content*/
    flex-direction: column;
    /*Hace que los enlaces esten en fila, no ocupa ponerse ya que es el default*/

}

@media (min-width: 768px) {
    .navegador-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegador-principal a {
    padding: 1rem;
    /*Son los espacios dentro del contenedor, contrario a margin*/
    color: var(--white);
    text-decoration: none;
    /*le quita la linea al enlace*/
    font-size: 2rem;
    /*Tamaño de la letra*/
    font-weight: bold;
    /*Para que se hagan negritas*/

}

.navegador-principal a:hover { /*EL hover quiere decir que aplicara estos estilos cuando el cursor se coloque sobre el */
    background-color: var(--primary); /*A los enlaces se les esta poniendo color de fondo y color a letra*/
    color: var(--darkness);
}

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    /*Es para que la imagen no se repita*/
    background-size: cover;
    /*Espara que agarre el ancho de toda la pantalla*/
    height: 410px;
    position: relative;
    /*Es para que le deje tener posicion absoluta al hijo, que es el contenedor*/
}

.contenido-hero {
    position: absolute;
    /*Ya tiene posición absoluta*/
    background-color: rgba(0, 0, 0, .7);
    /*Espara poder hacer tranparencia a la imagen*/
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contenido-hero h2,
.contenido-hero p {
    color: var(--white);

}

.button {
    background-color: var(--secundary);
    /*color de fondo*/
    color: var(--white);
    /*color de las letras*/
    padding: 1rem 3rem;
    /*El espacio que hay dentro*/
    margin-top: 1rem;
    /*que haya un rem de disytancia con el objeto de encima*/
    text-decoration: none;
    /*Se le quita el delineado al enlace*/
    font-weight: bold;
    /*Hace el texto negritas*/
    text-transform: uppercase;
    /*Hace el texto mayusculas*/
    border-radius: .5rem;
    /*Redondea el boton*/
    width: 90%;
    /*anchura*/
    text-align: center;
    /*alinea el texto*/
    border: none; /*Le quita el border que viene por default en el formulario*/

}

@media (min-width: 480px) {
    .button {
        width: auto;
        /*este querie hace que cuando el boton mida mas de 480px se haga de un 
        tamaño normal, para que cuando mida menos de 480px se mire mas grande*/
    }
}

.button:hover{ /*EL hover quiere decir que aplicara estos estilos cuando el cursor se coloque sobre el */
    cursor: pointer; /*Hace que regrese la manita*/
}


.sombra {
    box-shadow: 0px 0px 46px 2px rgba(107, 107, 107, 0.73);
    /*Estas lineas salieron de la aplicación para hacer sombra a las cajas*/
    background-color: var(--white);
    border-radius: 2rem;
    padding: 2rem;
    margin-top: 2rem;

}

/*Utilidades*/

.w-sm-100 {
    width: 100%;
}

@media (min-width: 768px) {
    .w-sm-100{
        width: auto;
        text-align: center;
    }  
}

.flex {
    display: flex;
}

.alinear-derecha {
    justify-content: flex-end;
    margin-top: 6rem
}

/*Fin de las utilidades/

/*.services {
    display: grid;
    /*Ejemplo de como se utiliza grid*/
    /*grid-template-columns: 30rem 30rem; /*Lo que quieres que mida la columna*/
    /*grid-template-rows: 20rem 80rem; /*Lo que quieres que mida la fila*/
    /*grid: 20rem 80rem / 30rem 30rem; /*Esto es lo mismo que arriba pero sintetizado*/
    /*grid-template-columns: 33.33% 33.33% 33.33%;/*Si quieres repartir mejor hazlo por facciones*/
    /*Lo de arriba seria igual a grid-tem...: 1fr 1fr 1fr*/
    /*o tambien grid-template-columns: repeat(3, 1f)*/
    /*column-gap: 1rem;/*Es como el margin pero en grid*/

    /*Esto del scroll se me hace initul la vrd*/
.services, .navegador-principal, .formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

@media (min-width: 768px) {
    .services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.section {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.section h3 {
    color: var(--secundary);
    font-weight: normal; /*Le quito las negritas*/
}

.section p{
    line-height: 2;
    text-align: center;
    padding: 2rem;
}

.section .icono {
    height: 15rem;
    width: 15rem;
    background-color: var(--primary);
    border-radius: 50%; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.formulario {
    background-color: var(--grey);
    padding: 3rem;
    margin: 0 auto;
    width: min( 60rem, 100%);/*No entendi bien que hizo pero centro el formulario*/
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
    
}

.formulario legend {
    color: var(--primary);
    font-weight: 700;
    text-align: center;
    font-size: 1.8;
    text-transform: uppercase;
    margin-bottom: 2rem;

}

.campo{
    margin-bottom: 1rem;
    padding: 2rem;
}

.campo label{
    color: var(--white);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 1.5rem;
}

.campo textarea{
    padding: 2rem;
    
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }
}

.campo:nth-child(3){ /*Mira dani del futuro que esta viendo esto, a esta madre casi no le entendiste, lo que llegastea entender
    es que hace que el cuadro de texto (Mensaje) del formulario, es el numero 3, por eso dice child(3) y lo que significa nth-child()
    es que si hay varios campos con el mismo nombre que en este caso se llamna "campo" y quieres agarrar uno en especifico como en 
    este caso el 3, ps lo utilizas asi, para que no tengas que andar haciendo otras clases, la neta dudo que lo puedas hacer tu sola 
    pero siguelo intentando preciosa, no te queda otra.....*/
    grid-column: 1 / 3;
}

footer{
    text-align: center;
}